.app {
    background: #f1f1f1;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas: 
        "cabecalho"
        "conteudo"
        "rodape";
    grid-template-columns:auto;
    grid-template-rows: 50px 100vh auto;
}

.cabecalho {
    background: pink;
    grid-area: cabecalho;
}
 
.conteudo {
    background: indianred;
    grid-area: conteudo;
}

.rodape {
    background: khaki;
    grid-area: rodape;
}